:root {
    --cardBorderRadius: 5px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3f3f3f;
}

header {
    height: 150px;
    background-color: #3367d6;
}

input,
button {
    border-radius: 5px;
    border: none;
}

h1 {
    padding-top: 50px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    color: white;
}

#form {
    padding: 20px;
    display: block;
    background-color: #4285f4;
}

#form label {
    display: inline-block;
}


#form input {
    margin: 0 30px 0 10px;
    padding: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    width: 70px;
    -moz-appearance: textfield;
}

#submit {
    margin-left: 20px;
    padding: 5px 20px;
}

@media (max-width: 969px) {
    #form input,
    #submit {
        font-size: 1.2rem;
        height: 40px;
        margin: 0;
        width: 100%;
    }
    
    #form label {
        display: block;
        padding-top: 20px;
    }

    #form input[type=checkbox] {
        display: block;
        width: 30px;
        margin-bottom: 50px;
    }

    #submit {
        display: block;
    }
}

#library {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 460px);
    grid-template-rows: 260px;
    grid-auto-rows: 260px;
    gap: 50px;
}

.card {
    border-radius: var(--cardBorderRadius);
    background-color: #707070;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    display: flex;
}

.card img {
    border-top-left-radius: var(--cardBorderRadius);
    border-bottom-left-radius: var(--cardBorderRadius);
}

.cardContent {
    padding: 30px;
    font-size: 1.1rem;
    line-height: 30px;
    width: 100%;
}

.cardTitle,
.cardAuthor {
    display: flex;
}

.preText {
    display: inline-block;
    width: 30px;
    padding-right: 5px;
    font-size: .9rem;
    text-align: right;
}

.preText,
.pagesText {
    color: black;
    font-size: .9rem;
}

.cardPages,
.readLabel {
    margin-left: 35px;
}

.deleteBtn {
    background-color: rgba(255, 255, 255, 0.356);
    margin-top: 70px;
    margin-left: 175px;
    display: block;
    padding: 5px 20px;
}

.deleteBtn:hover {
    background-color: red;
    color: white;
}

@media (max-width: 515px) {
    .card {
        transform: scale(.75);
    }
}
